@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,900&display=swap&subset=japanese");

/* [color code]
font #373a40
back #eeeeee
theme #686d76
highlight #19d3da
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid dodgerblue; */
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
}
html {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #373a40;
}

a {
    color: #373a40;
    text-decoration: none;
}
a:visited {
    color: #373a40;
}

.tag__wrapper {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag__inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tag__item::before {
    margin-right: 4px;
    content: "#";
    color: #19d3da;
    font-weight: 900;
    font-size: 1.8rem;
}
.tag__item {
    display: inline-block;
    margin: 8px 8px;
    padding: 6px 16px 8px 12px;
    background-color: #686d76;
    border: 2px solid #686d76;
    color: #eeeeee;
    border-radius: 12px;
    transition: all 0.2s ease 0s;
}
.tag__item:hover {
    background-color: transparent;
    color: #19d3da;
    margin: 6px 8px 10px 8px;
}

/* colorhunt : https://colorhunt.co/palette/202087 */
