@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,900&display=swap&subset=japanese");

/* [color code]
font #52575d
back #f6f4e6
theme #41444b
highlight #fddb3a 
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid dodgerblue; */
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
}
html {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #52575d;
}

a {
    color: #52575d;
    text-decoration: none;
}
a:visited {
    color: #52575d;
}

.anime--blink {
    border: 1px solid dodgerblue;
    animation: box-anime 1s linear 0s infinite alternate none running;
}
@keyframes box-anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* colorhunt : https://colorhunt.co/palette/202087 */
