@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,900&display=swap&subset=japanese");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
}
html {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #111;
}

a {
    color: #111;
    text-decoration: none;
}
a:visited {
    color: #111;
}

.body-wrapper {
    width: 100vw;
    height: 100vh; /* 変数をサポートしていないブラウザのフォールバック */
    height: calc(var(--vh, 1vh) * 100);
    background-color: gray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

.flex1_pagetop {
    flex: 1;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex2_frame {
    height: 400px;
    background-color: #eeeeee;
}

.flex3_footer {
    height: 64px;
    background-color: #555555;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e5e5;
}

iframe {
    width: 100%;
    height: 100%;
}

.name {
    font-size: 3.2rem;
    font-weight: 100;
    display: inline-block;
    transform: scale(1, 1.2);
    word-wrap: break-word;
}
svg .icon-question {
    fill: #a4a4a4;
    stroke: #a4a4a4;
}
