@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,900&display=swap&subset=japanese");

/* [color code]
font #373a40
back #eeeeee
theme #686d76
highlight #19d3da
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid dodgerblue; */
}

html {
    font-size: 62.5%;
}
@media screen and (max-width: 480px) {
    html {
        font-size: 40%;
    }
}
body {
    font-size: 1.6em;
}
html {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #686d76;
}

a {
    color: #686d76;
    text-decoration: none;
}
a:visited {
    color: #686d76;
}

.body-wrapper {
    width: 100vw;
    height: 100vh; /* 変数をサポートしていないブラウザのフォールバック */
    height: calc(var(--vh, 1vh) * 100);
    background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

.flex1_pagetop {
    flex: 1;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .flex1_pagetop {
        flex: 0.8;
    }
}
.flex2_frame {
    flex: 1;
    background-color: #eeeeee;
}

.flex3_footer {
    height: 64px;
    background-color: #686d76;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #373a40;
}
@media screen and (max-width: 480px) {
    .flex3_footer {
        height: 32px;
    }
}
.flex3_footer a {
    color: #373a40;
}

iframe {
    width: 100%;
    height: 100%;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* ============================================================================================ */

#profile_wrapper {
    position: relative;
    /* padding: 60px; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #eeeeee;
    margin: 32px 0px;
}
@media screen and (max-width: 480px) {
    #profile_wrapper {
        margin: 0px 0px;
    }
}

.border-anime-blink__inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.border-anime-blink__outer {
    position: absolute;
    width: 95%;
    height: 95%;
}

.border-anime-blink__outer .border-anime-blink__inner {
    border: 8px solid #19d3da;
    border-radius: 20px;
    animation: box-anime 1s linear 0s infinite alternate none running;
}
@keyframes box-anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.name {
    position: relative;
    margin: 100px;
    display: inline-block;
    color: #686d76;
    font-size: 2.8rem;
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: 0rem;
    transform: scale(1, 1.2);
    word-wrap: break-word;
    /* text-align: center; */
    transition: all 1s linear 0s;
}
.active-profile .name {
    margin: 32px 0px 0px 32px;
    padding: 0px 16px;
    color: #eeeeee;
}
@media screen and (max-width: 480px) {
    .active-profile .name {
        margin: 32px 0 0 0;
    }
}

.name::before {
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    content: "";
    background-color: #686d76;
    border-radius: 20px;
    transition: all 1s linear 0s;
}
.active-profile .name::before {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* ============================================================================================ */

.profile__content--hider {
    height: 400px;
    overflow: hidden;
    transition: all 1s ease 0s;
}

.hide {
    height: 0px;
}

@media screen and (max-width: 480px) {
    .content-block {
        text-align: center;
    }
}

.profile__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    width: 0px;
    overflow: hidden;
    transition: all 1s ease 0s;
    animation: anime--content-wrapper--end 0.5s linear 0s 1 normal both running;
}
@keyframes anime--content-wrapper--end {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.active-profile .profile__content-wrapper {
    width: 720px;
    height: 100%;
    animation: anime--content-wrapper--start 1.5s linear 0s 1 normal both running;
}
@media screen and (max-width: 480px) {
    .active-profile .profile__content-wrapper {
        width: 300px;
    }
}

@keyframes anime--content-wrapper--start {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.profile__human-img {
    width: 90%;
    height: 95%;
    background-image: url("./img198763.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom;
}

.shape--triangle {
    position: absolute;
    left: 150px;
    z-index: -2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 346.4px 200px 0;

    border-color: transparent #686d76 transparent transparent;
    animation: triangle 2s ease-in-out 0s infinite alternate none running;
}
@media screen and (max-width: 480px) {
    .shape--triangle {
        border-width: 150px 259px 150px 0;
        left: 20px;
    }
}
@keyframes triangle {
    0% {
        top: 32px;
    }
    100% {
        top: 100px;
    }
}

/* .shape--slope {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 120px;
    height: 120px;
    border: 20px solid;
    border-color: transparent transparent transparent #19d3da;
    transform: rotate(45deg);
} */

.shape--dot {
    position: absolute;
    top: 100px;
    z-index: -1;
    margin: auto;
    width: 240px;
    height: 240px;
    /* ドット（水玉）模様のCSS */
    background-image: radial-gradient(#19d3da 30%, transparent 30%);
    background-size: 8px 8px;
    animation: dot 3s ease-in-out 0s infinite alternate none running;
}
@keyframes dot {
    0% {
        left: 200px;
    }
    100% {
        left: 240px;
    }
}
@media screen and (max-width: 480px) {
    @keyframes dot {
        0% {
            left: 20px;
        }
        100% {
            left: 60px;
        }
    }
}

.profile__text-info {
    padding-top: 128px;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    text-align: right;
}
.profile__text-info p {
    display: inline-block;
    background-color: #686d76;
    color: #eeeeee;
}
@media screen and (max-width: 480px) {
    .profile__text-info p {
        font-size: 1.2rem;
    }
}

.item-head {
    display: inline-block;
    margin: 24px 0px 0px 0px;
    padding: 0px 4px;
    background-color: #686d76;
    color: #373a40;
    transition: all 0.2s ease 0s;
}

/* mix-blend-mode: difference; */

/* colorhunt : https://colorhunt.co/palette/202087 */
